---
import "../styles/global.css";

// import Login_modal from '../components/userAuthentication.astro';

---

<!doctype html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- unknown links -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

   
    

    <script
      defer=""
      src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.45.1/apexcharts.min.js"
    ></script>
    <!-- unknown links /-->

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script defer="" src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script defer="" src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- Icons /-->

    <!-- company name font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
    />
    <!-- company name font /-->

    <!-- swiper js link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- swiper js link /-->



  

    <title>TWG</title>
  </head>
  <body>
    <div class="smooth-scroll-wrapper">
    <nav class="fixed h-screen w-64 hidden lg:block" id="nav-large-screen">
      <div
        class="flex flex-col h-full bg-neutral-900 border-r border-gray-600"
        id="nav-container"
      >
        <!-- Logo -->
        <div class="px-6 py-4 border-b border-red-500/20" id="nav-logo">
          <h1 class="text-2xl font-bold text-white">TWG</h1>
          <p class="text-sm text-gray-400">Kitchen Gallery</p>
        </div>

        <!-- Navigation Links -->
        <div class="flex-1 p-4 space-y-2" id="nav-links">
          <a href="/" class="flex items-center space-x-3 p-3 border-red-500/30 text-gray-300 hover:bg-neutral-800 rounded-lg transition-all duration-300 group" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="303:14"> <svg class="w-5 h-5 group-hover:text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="309:16"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="310:18"></path> </svg> <span class="font-medium text-white" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="317:52">Home</span> </a>

          <a href="/products/" class="flex items-center space-x-3 p-3 border-red-500/30 text-gray-300 hover:bg-neutral-800 rounded-lg transition-all duration-300 group bg-neutral-800 text-red-500" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="341:14"> <svg class="w-5 h-5 group-hover:text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="347:16"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="348:18"></path> </svg> <span class="font-medium text-white" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="355:52">Products</span> </a>

          <a href="/contact/" class="flex items-center space-x-3 p-3 border-red-500/30 text-gray-300 hover:bg-neutral-800 rounded-lg transition-all duration-300 group bg-neutral-800 text-red-500" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="367:14"> <svg class="w-5 h-5 group-hover:text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="373:16"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="374:18"></path> </svg> <span class="font-medium text-white" data-astro-source-file="D:/twg/src/layouts/Layout.astro" data-astro-source-loc="381:52">Contact</span> </a>

          <!-- <button
            class="openLoginModal flex w-full items-center space-x-3 p-3 border-red-500/30 text-gray-300 hover:bg-neutral-800 rounded-lg transition-all duration-300 group"
          >
            <svg
              class="w-5 h-5 fill-current text-gray-300 group-hover:text-red-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 28.314 28.323"
              style="enable-background:new 0 0 28.314 28.323"
              xml:space="preserve"
              ><path
                d="m27.728 20.384-4.242-4.242a1.982 1.982 0 0 0-1.413-.586h-.002c-.534 0-1.036.209-1.413.586L17.83 18.97l-8.485-8.485 2.828-2.828c.78-.78.78-2.05-.001-2.83L7.929.585A1.986 1.986 0 0 0 6.516 0h-.001C5.98 0 5.478.209 5.101.587L.858 4.83C.729 4.958-.389 6.168.142 8.827c.626 3.129 3.246 7.019 7.787 11.56 6.499 6.499 10.598 7.937 12.953 7.937 1.63 0 2.426-.689 2.604-.867l4.242-4.242c.378-.378.587-.881.586-1.416 0-.534-.208-1.037-.586-1.415zm-5.656 5.658c-.028.028-3.409 2.249-12.729-7.07C-.178 9.452 2.276 6.243 2.272 6.244L6.515 2l4.243 4.244-3.535 3.535a.999.999 0 0 0 0 1.414l9.899 9.899a.999.999 0 0 0 1.414 0l3.535-3.536 4.243 4.244-4.242 4.242z"
              ></path></svg
            >
            <span class="login-text phone-number font-medium text-white">
              <script is:inline>
                document.write(localStorage.getItem('userPhone') || 'Login')
              </script>
            </span>
          </button> -->

          <!-- Logout button -->
        

          

     

          <a
            href="https://drive.google.com/file/d/1RX93PyXdOtVmm4uW9D1izWkMhBCFOwMy/view?usp=sharing"
            target="_blank"
            class="group text-white nav-link flex items-center space-x-3 p-3 rounded-lg transition duration-300 hover:bg-neutral-800"
          >
            <svg
              class="nav-icon w-5 h-5 transition-colors duration-300 group-hover:text-red-500"
              height="20px"
              width="20px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 370.32 370.32"
              xml:space="preserve"
            >
              <g>
                <path
                  class="fill-current text-red-500 group-hover:text-red-500"
                  d="M148.879,85.993H95.135c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.744
                      c8.284,0,15-6.716,15-15C163.879,92.709,157.163,85.993,148.879,85.993z"
                ></path>
                <path
                  class="fill-current text-red-500 group-hover:text-red-500"
                  d="M148.879,148.327H95.135c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.744
                      c8.284,0,15-6.716,15-15C163.879,155.043,157.163,148.327,148.879,148.327z"
                ></path>
                <path
                  class="group-hover:text-red-500"
                  style="fill:#d1d5db;"
                  d="M211.944,253.354v14.608h7.717c9.359,0,9.359-5.599,9.359-7.439c0-1.775,0-7.17-9.359-7.17H211.944z
                      "
                ></path>
                <path
                  class="group-hover:text-red-500"
                  style="fill:#d1d5db;"
                  d="M325.879,225.752h-24.41V73.703c0-3.934-1.56-7.705-4.344-10.484l-58.876-58.88
                      C235.465,1.561,231.699,0,227.765,0H50.58C34.527,0,21.469,13.059,21.469,29.112v312.095c0,16.054,13.059,29.113,29.111,29.113
                      h221.777c16.052,0,29.111-13.06,29.111-29.113v-30.048h24.41c12.687,0,22.973-10.285,22.973-22.973v-39.462
                      C348.852,236.038,338.566,225.752,325.879,225.752z M269.855,337.906H53.082V32.414H207.17V75.99
                      c0,10.555,8.554,19.107,19.105,19.107h43.58v130.655h-74.178c-12.688,0-22.973,10.286-22.973,22.973v39.462
                      c0,12.688,10.285,22.973,22.973,22.973h74.178V337.906z M238.51,260.523c0,10.441-7.224,16.928-18.85,16.928h-7.717v8.977
                      c0,2.316-1.877,4.197-4.195,4.197h-1.097c-2.319,0-4.197-1.881-4.197-4.197v-38.366c0-2.316,1.878-4.197,4.197-4.197h13.009
                      C231.287,243.864,238.51,250.246,238.51,260.523z M262.305,290.625H247.21c-2.319,0-4.197-1.881-4.197-4.197v-38.366
                      c0-2.316,1.877-4.197,4.197-4.197h15.095c13.148,0,23.845,10.5,23.845,23.409C286.15,280.15,275.454,290.625,262.305,290.625z
                       M322.455,249.156c0,2.32-1.878,4.197-4.197,4.197h-17.045v10.053h14.521c2.317,0,4.197,1.875,4.197,4.195v1.099
                      c0,2.316-1.88,4.197-4.197,4.197h-14.521v13.53c0,2.316-1.877,4.197-4.196,4.197h-1.096c-2.32,0-4.197-1.881-4.197-4.197v-38.366
                      c0-2.316,1.877-4.197,4.197-4.197h22.337c2.319,0,4.197,1.881,4.197,4.197V249.156z"
                ></path>
                <path
                  class="group-hover:text-red-500"
                  style="fill:#d1d5db;"
                  d="M262.305,253.354h-9.803v27.782h9.803c7.915,0,14.355-6.222,14.355-13.862
                      C276.661,259.598,270.221,253.354,262.305,253.354z"
                ></path>
              </g>
            </svg>

            <span class="font-medium text-white">Catalogue</span>
          </a>
        </div>

        <!-- User Profile -->
        <div class="border-t border-red-500/20 p-4 mt-auto" id="nav-profile">
          <div
            class="flex items-center hover:bg-neutral-800 p-2 rounded-lg transition-all duration-300"
          >
            <img
              src="https://avatar.iran.liara.run/public"
              alt="User"
              class="w-8 h-8 rounded-full transition-all duration-300 hover:scale-110"
              loading="lazy"
            />
            <div class="ml-3">
              <p class="text-sm font-medium text-white">Site Made By</p>
              <p class="text-xs text-gray-400">john@twg.com</p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <header
      class="sticky top-0 z-30 bg-black px-6 py-4 lg:hidden"
      id="mobile-header"
    >
      <div class="flex items-center justify-between">
        <h2 class="text-xl font-semibold text-white">TWG</h2>
       

      </div>
    </header>

    <div
      id="mobile-nav-overlay"
      class="fixed inset-0 bg-black bg-opacity-50 z-40 hidden"
    >
    </div>

    <div class="flex" x-data="{ isOpen: false }" id="el-2erdhyzh">
      <!-- Sidebar Navigation -->

      <!-- Mobile Menu Button -->
      <div class="lg:hidden fixed top-2 right-4 z-50" id="el-nnh62v45">
        <button
          type="button"
          class="rounded-lg p-2 cursor-pointer text-neutral-400 hover:text-white"
          @click="isOpen = !isOpen"
          aria-controls="mobile-menu"
          :aria-expanded="isOpen"
          aria-expanded="false"
          id="el-hrbb3kga"
        >
          <svg
            x-show="!isOpen"
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            id="el-l3uxfp8l"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
              id="el-20pbcsun"></path>
          </svg>
          <svg
            x-show="isOpen"
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            style="display: none;"
            id="el-tfexrgdo"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
              id="el-o80pzb1t"></path>
          </svg>
        </button>
      </div>

      <!-- Mobile Menu -->
      <!-- Mobile Menu -->
      <div
        x-show="isOpen"
        class="lg:hidden fixed inset-0 bg-black/60 backdrop-blur-lg z-40"
        x-transition:enter="transition ease-out duration-150 transform"
        x-transition:enter-start="opacity-0 translate-x-full"
        x-transition:enter-end="opacity-100 translate-x-0"
        x-transition:leave="transition ease-in duration-150 transform"
        x-transition:leave-start="opacity-100 translate-x-0"
        x-transition:leave-end="opacity-0 translate-x-full"
        
        @resize.window="if (window.innerWidth > 1024) isOpen = false"
        style="display: none;"
        id="el-jen0v7dk"
      >
        <div
          class="fixed inset-y-0 left-0 max-w-xs w-full bg-neutral-900 shadow-xl p-6 flex flex-col justify-center items-center"
          id="el-8bxmt88z"
        >
          <!-- Close Button -->

          <!-- Navigation Links -->
          <div
            class="flex-1 p-4 space-y-2 mt-28 justify-center items-center h-full w-full text-2xl"
            id="nav-links"
          >
            <a
              href="/"
              class="flex items-center space-x-3 p-3 border-red-500/30 text-gray-300 hover:bg-neutral-800 rounded-lg transition-all duration-300 group"
            >
              <svg
                class="w-5 h-5 group-hover:text-red-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                ></path>
              </svg>
              <span class="font-medium text-white">Home</span>
            </a>

            <a
              href="/products/"
              class="flex items-center space-x-3 p-3 border-red-500/30 text-gray-300 hover:bg-neutral-800 rounded-lg transition-all duration-300 group"
            >
              <svg
                class="w-5 h-5 group-hover:text-red-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
                ></path>
              </svg>
              <span class="font-medium text-white">Products</span>
            </a>

            <a
              href="/contact/"
              class="flex items-center space-x-3 p-3 border-red-500/30 text-gray-300 hover:bg-neutral-800 rounded-lg transition-all duration-300 group"
            >
              <svg
                class="w-5 h-5 group-hover:text-red-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                ></path>
              </svg>
              <span class="font-medium text-white">Contact</span>
            </a>
<!-- 
            <button
              class="openLoginModal flex w-full items-center space-x-3 p-3 border-red-500/30 text-gray-300 hover:bg-neutral-800 rounded-lg transition-all duration-300 group"
            >
              <svg
                class="w-5 h-5 fill-current text-gray-300 group-hover:text-red-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 28.314 28.323"
                style="enable-background:new 0 0 28.314 28.323"
                xml:space="preserve"
                ><path
                  d="m27.728 20.384-4.242-4.242a1.982 1.982 0 0 0-1.413-.586h-.002c-.534 0-1.036.209-1.413.586L17.83 18.97l-8.485-8.485 2.828-2.828c.78-.78.78-2.05-.001-2.83L7.929.585A1.986 1.986 0 0 0 6.516 0h-.001C5.98 0 5.478.209 5.101.587L.858 4.83C.729 4.958-.389 6.168.142 8.827c.626 3.129 3.246 7.019 7.787 11.56 6.499 6.499 10.598 7.937 12.953 7.937 1.63 0 2.426-.689 2.604-.867l4.242-4.242c.378-.378.587-.881.586-1.416 0-.534-.208-1.037-.586-1.415zm-5.656 5.658c-.028.028-3.409 2.249-12.729-7.07C-.178 9.452 2.276 6.243 2.272 6.244L6.515 2l4.243 4.244-3.535 3.535a.999.999 0 0 0 0 1.414l9.899 9.899a.999.999 0 0 0 1.414 0l3.535-3.536 4.243 4.244-4.242 4.242z"
                ></path></svg
              >
              <span class="login-text font-medium text-white"><script is:inline>
                document.write(localStorage.getItem('userPhone') || 'Login')
              </script></span>
            </button> -->

            <a
              href="https://drive.google.com/file/d/1RX93PyXdOtVmm4uW9D1izWkMhBCFOwMy/view?usp=sharing"
              target="_blank"
              class="flex items-center space-x-3 p-3 {% if request.path == '{{latest_catalogue}}' %}bg-neutral-800 border-red-500/30 text-gray-300 hover:bg-neutral-800 rounded-lg transition-all duration-300 group"
            >
              <svg
                height="20px"
                width="20px"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 370.32 370.32"
                xml:space="preserve"
              >
                <g>
                  <path
                    class="fill-current text-red-500 group-hover:text-red-500"
                    d="M148.879,85.993H95.135c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.744
                       c8.284,0,15-6.716,15-15C163.879,92.709,157.163,85.993,148.879,85.993z"
                  ></path>
                  <path
                    class="fill-current text-red-500 group-hover:text-red-500"
                    d="M148.879,148.327H95.135c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h53.744
                       c8.284,0,15-6.716,15-15C163.879,155.043,157.163,148.327,148.879,148.327z"
                  ></path>
                  <path
                    class="group-hover:text-red-500"
                    style="fill:#d1d5db;"
                    d="M211.944,253.354v14.608h7.717c9.359,0,9.359-5.599,9.359-7.439c0-1.775,0-7.17-9.359-7.17H211.944z
                       "
                  ></path>
                  <path
                    class="group-hover:text-red-500"
                    style="fill:#d1d5db;"
                    d="M325.879,225.752h-24.41V73.703c0-3.934-1.56-7.705-4.344-10.484l-58.876-58.88
                       C235.465,1.561,231.699,0,227.765,0H50.58C34.527,0,21.469,13.059,21.469,29.112v312.095c0,16.054,13.059,29.113,29.111,29.113
                       h221.777c16.052,0,29.111-13.06,29.111-29.113v-30.048h24.41c12.687,0,22.973-10.285,22.973-22.973v-39.462
                       C348.852,236.038,338.566,225.752,325.879,225.752z M269.855,337.906H53.082V32.414H207.17V75.99
                       c0,10.555,8.554,19.107,19.105,19.107h43.58v130.655h-74.178c-12.688,0-22.973,10.286-22.973,22.973v39.462
                       c0,12.688,10.285,22.973,22.973,22.973h74.178V337.906z M238.51,260.523c0,10.441-7.224,16.928-18.85,16.928h-7.717v8.977
                       c0,2.316-1.877,4.197-4.195,4.197h-1.097c-2.319,0-4.197-1.881-4.197-4.197v-38.366c0-2.316,1.878-4.197,4.197-4.197h13.009
                       C231.287,243.864,238.51,250.246,238.51,260.523z M262.305,290.625H247.21c-2.319,0-4.197-1.881-4.197-4.197v-38.366
                       c0-2.316,1.877-4.197,4.197-4.197h15.095c13.148,0,23.845,10.5,23.845,23.409C286.15,280.15,275.454,290.625,262.305,290.625z
                        M322.455,249.156c0,2.32-1.878,4.197-4.197,4.197h-17.045v10.053h14.521c2.317,0,4.197,1.875,4.197,4.195v1.099
                       c0,2.316-1.88,4.197-4.197,4.197h-14.521v13.53c0,2.316-1.877,4.197-4.196,4.197h-1.096c-2.32,0-4.197-1.881-4.197-4.197v-38.366
                       c0-2.316,1.877-4.197,4.197-4.197h22.337c2.319,0,4.197,1.881,4.197,4.197V249.156z"
                  ></path>
                  <path
                    class="group-hover:text-red-500"
                    style="fill:#d1d5db;"
                    d="M262.305,253.354h-9.803v27.782h9.803c7.915,0,14.355-6.222,14.355-13.862
                       C276.661,259.598,270.221,253.354,262.305,253.354z"
                  ></path>
                </g>
              </svg>

              <span
                class="font-medium text-white"
                >Catalogue</span
              >
            </a>

           
          </div>
        </div>
      </div>

      <!-- <Login_modal /> -->
    </div>

    <!-- slot to be filled by child -->
    <slot />
    <!-- slot to be filled by child -->

    <div id="page_complete">
      <!-- <script src="{% static  'js/loginForm.js' %}"></script> -->
    </div>

</div>

  </body>
</html>




<script is:inline>
 
  
 
 document.addEventListener('DOMContentLoaded', function() {
  const currentPath = window.location.pathname;
  const navLinks = document.querySelectorAll('#nav-links a');

  navLinks.forEach(link => {
    // Use link.pathname instead of link.href to compare the actual path
    if (link.pathname === currentPath) {
      link.classList.add('bg-neutral-800', 'text-red-500');
    } else {
      link.classList.remove('bg-neutral-800', 'text-red-500');
    }
  });
});

  




</script>



